<div class="card" style="width: 50%; margin:2rem auto">
    <!-- <h1 class=" card-header">
        Connection
    </h1> -->
    <div class="card-body">
        <h1 class="card-title">Connection</h1>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="submit" class="btn btn-secondary" style="margin-left: 0.7rem;">Register</button>
        </form>
    </div>
</div>